/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

button, .btn {
    background-color: #f9643f;
    border-color: white; /* Modifica el color del borde */
    color: #fff;
    box-shadow: 0 0 40px 40px #f9643f inset, 0 0 0 0 #f9643f;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
  }
  
  .search-input {
    width: 100%;
    max-width: 300px;
  }
  
  button:hover, .btn:hover {
    box-shadow: 0 0 10px 0 white inset, 0 0 10px 4px white;
    border-color: white;
  }

  .nav-link {
    color: black;
  border-color: white; /* Modifica el color del borde */
  }

  body {
    background-color: #19d8b6;
  }

  
  .form-check-input:checked {
    background-color: #8c52ff;
  }
  
  .container {
    display: flex;
    justify-content: center;
  }
    
  .form-group {
    margin-bottom: 20px;
  }
  
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-control {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  


  html, body {
    height: 100%;
    margin: 0;
  }
  
  .page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .content-wrapper {
    flex: 1;
  }