.navbar {
    background-color: #19d8b6;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 5px;
    height: 80px;
    margin-top: 10px;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    margin-left: 0;
  }
  
  .navbar-nav {
    margin-left: auto;
  }
  
  .nav-link,
  .dropdown-item {
    color: #fff;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
  .nav-link:hover,
  .dropdown-item:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .pekefun-logo,
  .perfil-logo {
    height: 50px;
    width: auto;
  }
  
  @media (min-width: 992px) {
    .pekefun-logo,
    .perfil-logo {
      height: 100px;
      width: auto;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-brand {
      margin-top: 0 !important;
      margin-left: 0;
    }
    .navbar-brand img {
      margin-top: 0;
      margin-right: 0;
    }
  }
  
  @media (min-width: 992px) {
    .navbar-brand img {
      margin-top: 30px;
      margin-right: 40px;
    }
  }
  
  .custom-logo {
    max-height: 180px;
    width: auto;
  }
  
  .custom-profile {
    max-height: 200px;
    width: auto;
  }
  
  .dropdown-toggle::after {
    display: none;
  }
  
  .dropdown-menu {
    background-color: #19d8b6;
    border-radius: 5px;
  }
  
  .search-input {
    width: 250px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    padding: 6px 12px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  .contacto-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .contacto-form {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ccc;
  }
  