/* Estilos para User_profile */


.nav-tabs {
  text-align: center;
}

.white-container {
  background-color: white;
  padding: 50px;
  height: 600px;
  width: 1100px;
  overflow-y: auto;
  border-radius: 20px;
}
